.el {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
    @include screen_large {
        margin: 2px;
    }
}

$types: alkaliMetal lanthanide nobleGas transitionMetal postTransitionMetal
    alkalineEarthMetal actinide metalloid otherNonMetal;

@each $type in $types {
    .el--#{$type} {
        background-color: hsl(
            index($types, $type) * (360deg / length($types)) 75% 75%
        );
    }
}
@include screen_large {
    @for $i from 1 through 7 {
        [data-period="#{$i}"] {
            grid-row: #{$i};
        }
    }

    @for $i from 1 through 18 {
        [data-group="#{$i}"] {
            grid-column: #{$i};
        }
    }
}
